/*---------------Iphone-------------------*/
@media (max-width:320px) {
header {
    background: url(image/fondheader.gif) no-repeat;
    background-color: #979797;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    z-index: 6;
    }

#pourquoi-moi {
    margin-top: 44%;
}

}


/*---------------Grand Iphones---------------*/
@media (min-width:321px) and (max-width:414px) {
header {
    background: url(image/fondheader.gif) no-repeat;
    background-color: #979797;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    z-index: 6;
    }

#pourquoi-moi {
    margin-top: 40%;
}

}


/*---------------Ipad---------------*/
@media (min-width:415px) and (max-width:959px) { 
  header {
    background: url(image/fondheader.gif) no-repeat;
    background-color: #979797;
    background-size: cover;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    z-index: 6;
    }

#pourquoi-moi {
    margin-top: 30%;
}

}

